/* 
	background-color: rgb(116, 164, 196); 
*/

/* #fix-me { 
	background-color: black;
	color:white;
	font-size: 20px;
	position: fixed;
	top: 400px;
	padding: 10px 10px;
} */

/* Header */
.berger {
	text-align: center;
	font-size: 30px;
	font-style: italic;
	color: white;
}

/* .search1 {
	background: none;
	border: none;
	outline: none;
	width: 45px;
	color: black;
	margin-left: 700px;
}
.search {
	background: none;
	border: none;
	cursor: pointer;
}
.search:hover {
	color: white;
}
::placeholder {
	color: black;
	font-size: 12px;
} */

/* .sidebar {
	background-color: var(--main-background-color);
	float: right;
	text-align: center;
	width: 10%;
	margin-top: 100px;
	border: var(--main-border)
} */

.welcome {
	width: 50%;
	margin: auto;
	position: relative;
  top: 20px;
	background-color: #f7f7f7;
	border: var(--main-border);
	padding-bottom: 20px;
	border-top-left-radius: 140px 37px;
  border-top-right-radius: 23px 130px;
  border-bottom-left-radius: 19px 11px;
  border-bottom-right-radius: 120px 24px;
}
.impediment {
	text-align: justify;
	width: 60%;
	margin: auto;
}
.impediment h1 {
	font-size: 30px;
	text-align: center;
}
/* .dotted {
	border: dashed 3px black;
	float: right;
	width: 30%; 
	margin-top: 75px;
	text-align: center;
} */

/* Media Queries */
/* Ipad */
@media (max-width: 768px) {
	.right {
		height: 230px;
		margin-top: 20px;
	}
	.copyright {
		margin-top: 300px;
	}
	.sidebar {
		width: 15%;
	}
	.copyright {
		display: none;
	}
}

/* Mobile */
@media (max-width: 480px) {
	.header {
		display: flex;
		flex-direction: column;
	}
	/* .search1 {
		float: right;
	}
	.search {
		float: right;
	} */
	.main-footer {
		display: flex;
		flex-direction: column;
	}
	.sidebar {
		width: 40%;
		margin-top: 1910px;
	}
	.head-list {
		display: flex;
	}
	img {
		width: 150%;
	}
	.right {
		height: 250px;
	}
	.copyright {
		display: none;
	}
	#fix-me {
		display: none;
	}
}