img {
	cursor: pointer;
}

/* Main */
.main-site {
	background-color: var(--main-background-color);
	text-align: center;
	padding: 1px;
	box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
  transition: all 0.13s ease-in;
}
.main-list {
	color: white;
}
.main-list:hover {
	color: white;
	font-size: 30px;
	text-decoration: underline;
	text-decoration-color: white;
}
.main-site li {
	font-size: 25px;
	display: inline;
	margin: 50px;
	font-weight: bold;
}

/* Container, gallery */
.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.gallery:hover {
  border: 1px solid #777;
}
.column {
  margin: 20px;
  border: 1px solid #ccc;
  max-width: 500px;
  box-sizing: content-box;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.1s;
}
.gallery img {
  height: auto;
  max-width: 500px;
}
.column:hover img {
  border: solid 1px black;
}
.desc {
  padding: 20px;
  text-align: center;
}

/* popup Window, lightbox gallery */
#lightbox {
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, .8);
	display: none;
}

#lightbox.active {
	display: flex;
	justify-content: center;
	align-items: center;
}

#lightbox img {
	max-width: 90%;
	max-height: 80%;
	padding: 4px;
	background-color: black;
	border: 2px solid white;
}

/* .column2 {
  margin: 20px;
  border: 1px solid #ccc;
  max-width: 500px;
  box-sizing: content-box;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.1s;
}
.desc2 {
  padding: 20px;
  text-align: center;
} */


/* Media Queries */
/* Ipad */
@media (max-width: 768px) {
  .right {
		height: 230px;
	}
  .copyright {
		display: none;
	}
}

/* Mobile */
@media (max-width: 480px) {
	.header {
		display: flex;
		flex-direction: column;
	}
	.main-footer {
		display: flex;
		flex-direction: column;
	}
	.head-list {
		display: flex;
	}
  div.gallery img {
    max-width: 350px;
  }

	.right {
		height: 250px;
	}
	.copyright {
		display: none;
	}
}